.color{
    width: 30vw !important; 
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    .title{
        background: #FFF;
        color: red;
        font-weight: bold;
        padding: 5px;
        &--blue{
            color: #0037CC;
        }
        &--green{
            color: #00CC00;
        }
        &--pink{
            color: #FF1493;
        }
        &--yellow{
            color: #fefe33;

        }
        &--purple{
            color: #800080;
        }
    }
    .body{
        padding: 15px;
        text-align: center;
        font-weight: 500;
    }
    Button{
        width: 90%;
        height: 40px;
        margin-bottom: 10px;
        border: 4px;
        font-weight: 600;
        cursor: pointer;
    }
    
    &--red{
        background: red;
    }

    &--blue{
        background: #0037ff;
    }
    &--green{
        background: #00CC00;
    }
    &--pink{
        background: #FF1493;
    }
    &--yellow{
        background: #fefe33;
    }
    &--purple{
        background: #800080
    }

}

.row{
    display: flex;
    flex-direction: row;
}
body{
    background: #000000;

}